/* .card-header {
    display: flex;
    align-items: center;
}

.custom-icon {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
}

.card-title {
    margin: 0;
    font-size: 1.25rem;
} */